<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">auto</ion-title>


    </ion-toolbar>

  </ion-header>
  <ion-select
    [(ngModel)]="selectedYear"
    (ionChange)="loadAutos()"
    interface="popover"
    placeholder="Jahr"
  >
    <ion-select-option *ngFor="let year of availableYears" [value]="year">
      {{ year }}
    </ion-select-option>
  </ion-select>

  <ion-content *ngIf="autos">
    <ion-list *ngIf="autos?.data">
      <ion-item *ngFor="let auto of autos.data" (click)="openModal(auto)">
        <div>
          <h2>{{ auto.make_model_trim.make_model.make.name }} - {{ auto.make_model_trim.make_model.name }}</h2>
          <p>Engine Type: {{ auto.engine_type }}</p>
          <p>Horsepower: {{ auto.horsepower_hp }} HP</p>
          <p>Transmission: {{ auto.transmission }}</p>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>
