<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>auto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">auto</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngIf="autos">
    <ion-item *ngFor="let auto of autos.data">
      <ion-label>
        <p>{{ auto.make.name }}</p>
        <h2>{{ auto.name }}</h2>
        <div *ngIf="auto.trims && auto.trims.length > 0">
          <p>Trims:</p>
          <ul>
            <li *ngFor="let trim of auto.trims">
              {{ trim.name }} - {{ trim.msrp | currency }}
            </li>
          </ul>
        </div>
        <div *ngIf="auto.trims && auto.trims.length === 0">
          <p>Keine Trims verfügbar</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
